
/*----Default style---*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #fff;
	text-rendering: optimizeLegibility;
	font-family: 'Varela Round', sans-serif;
	font-weight:300;
	font-size:20 px;
}

body, html {
    height: 100%;
}

section{
	padding:60px 80px;
}

/*--Cool fixed hipster scrolling effects --*/




/*----Top Nav Bar ----*/

.logo{
	height:120px;
	width: auto;
	float: left;
	margin-top: 20px;
	padding-left: 40px;
}

/*-----Product page -----*/
.container h1{
	font-size: 3em;
}



footer{
	background-color: #25A866;
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav {
	max-width: 1200px;
	margin: 0 auto;
}


.top-nav{
	float: right;
	list-style: none;
	margin-top: 60px;
	margin-left:240px;
}

.top-nav li{
	display: inline-block;
	margin-left:80px;

}


.top-nav li a:link,
.top-nav li a:visited{
	padding:8px 0;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size:1em;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s ;

}
.top-nav li a:hover,
.top-nav li a:active{
	border-bottom: 2px solid #25A866;

}

/*----Hero ----*/

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(../img/hero.jpg);
	background-size:cover;
	background-position:center;
	position: relative;
	height:100vh;
}

.hero-box{
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-box h1{
	font-size: 4em;
}


.hero-box a{
	font-size : 1.2em;

}
.quote{
	background-image: url(../img/quote-back.png);
	background-size:cover;
	text-align: center;

}

.support{
	align-items: center;
}

/*----buttons ----*/
footer .btn:hover{
	color: #25A866;
}

.btn:link,
.btn:visited{
	display: inline-block;
	padding: 10px 20px;
	font-weight: 300;
	text-decoration: none;
	color:#fff;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-orange:link,
.btn-orange:visited{
	background-color: #25A866;
	border: 1px solid #25A866;
	color:#fff;
	margin-right:15px ;
}

.btn-orange:hover,
.btn-orange:active{
	border: 1px solid #21965B;
	background-color: #21965B;

}

/*----features ----*/

#paragraph {
	padding: 80px 78px 20px 78px;
}


#screenshots{
	display:inline-block;
}

#screenshots img{
  width: 65%;
  height: auto;
}
/*----quote ----*/


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
