
/*----Default style---*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-color: #fff;
	text-rendering: optimizeLegibility;
}

body, html {
    height: 100%;
}

section{
	padding:100px;
}

/*----Top Nav Bar ----*/


.logo{
	height:120px;
	width: auto;
	float: left;
	margin-top: 20px;
}

nav {
	max-width: 1200px;
	background-color:#fefefe;
	margin: 0 auto;
}



.top-nav{
	float: right;
	list-style: none;
	margin-top: 60px;
}

.top-nav li{
	display: inline-block;
	margin-left:40px;=
}

/*----Hero ----*/

header{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../img/hero.jpg);
	background-size:cover;
	background-position:center;
	position: relative;
	height:100vh;
}

.hero-box{
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}



